@font-face {
    font-family: "Bebas Neue";
    src: url('Fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "Enchanted Sword";
    src: url('Fonts/EnchantedSword.ttf');
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(212, 212, 212);
    font-family: "Avenir", Verdana, sans-serif;
}

#readme {
    margin-top: 10px;
}

.headerContainer {
    text-align: center;
    margin-top: 2rem;
}
.headerContainer .content{
    display: inline-block;
}
.headerContainer .content .overHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerContainer .content h1 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 4rem;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
    text-decoration: underline;
}
.headerContainer .content .subHeader {
    text-align: center;
    font-family: 'Enchanted Sword';
    font-size: 1.5rem;
    margin: 0rem;
}

.pageContent {
    width: 80vw;
    margin: auto;
}
.tableContainer {
    width: 100%;
    margin: auto;
}
.tableContainer table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}
.tableContainer th, td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.tableContainer tr {
    border-bottom: 1px solid black;
    height: 1rem;
    transition: background-color 1s;
}
.tableContainer .trHead, .trHead:hover {
    background-color: rgb(170, 170, 170);
}
.tableContainer tr:hover {
    background-color: #a0a0a086;
}