@font-face {
    font-family: "Bebas Neue";
    src: url('Fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "Enchanted Sword";
    src: url('Fonts/EnchantedSword.ttf');
}

body {
    height: 100vh;
    color: rgb(0, 0, 0);
    background: rgb(74,0,79);
    background: linear-gradient(0deg, rgba(74,0,79,1) 5%, rgba(85,19,113,1) 35%, rgba(121,83,152,1) 70%, rgba(193,144,226,1) 100%);
    background-repeat: no-repeat;
    font-family: "Avenir", Verdana, sans-serif;
}

#readme {
    margin-top: 10px;
}

.headerContainer {
    text-align: center;
    margin-top: 2rem;
}
.headerContainer .content{
    display: inline-block;
}
.headerContainer .content .overHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerContainer .content h1 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 4rem;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
    text-decoration: underline;
}
.headerContainer .content .subHeader {
    text-align: center;
    font-family: 'Enchanted Sword';
    font-size: 1.5rem;
    margin: 0rem;
}

.pageContent {
    width: 80vw;
    margin: auto;
}

.sectionHeader {
    width: 100%;
    margin: auto;
    text-align: center;
}

.tableContainer {
    width: 100%;
    margin: auto;
}
.tableContainer table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
}
.tableContainer th, td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.tableContainer tr {
    border-bottom: 1px solid black;
    height: 2.5rem;
    transition: background-color 0.6s, height 0.6s;
}
.tableContainer tr:not(:first-child):hover {
    background-color: rgb(180, 180, 180);
    height: 5rem;
}
.tableContainer .trHead {
    background-color: rgb(105, 105, 105);
}